pre {
    font-family: Roboto
}

.mdc-list {
    cursor: pointer;
}

.mdc-list {
    background: #ffffff;
    border-radius: 4px;
}

.mdc-list-item__primary-text, .mdc-list-item__secondary-text {
    margin: 10px;
    display: inline-block;
}

.btn, .list-item {
     border: 1px solid;
}

.navbar, .list-item {
     cursor: default;
}